<section id="about" class="bg-dark">
    <div class="container">
        <div class="text-center">
            <img src="img/logoBody.png" class="img-responsive img-center"/>
        </div>
    </div>

    <div class="container">
        <div >
            <p class="text-center h3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua. Facilisis volutpat est velit egestas dui 
                id. Leo duis ut diam quam nulla porttitor massa id neque.
            </p>
        </div>
    </div>
</section>
