<section id="about" class="bg-dark">
    <div class="container">
        <div class="text-center">
            <img src="img/logoBody.png" class="img-responsive img-center"/>
        </div>
    </div>

    <div class="container">
        <div >
            <p class="text-center h3">
                {% for lang in site.langs %}
                {% if lang.lang == page.lang %}
                    {{ lang.about_description}}
                {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>
</section>
