<section id="contact" class="bg-dark footer">
    <div class="row contact-container div-relative">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <img src="img/girlLeft.png" class="img-responsive img-girl">
        </div>
        {% for lang in site.langs %}
        {% if lang.lang == page.lang %}
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <img src="img/bel.png" class="img-responsive">
                <figcaption class="address-text text-center">{{lang.address1}}</figcaption>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <img src="img/inno.png" class="img-responsive">
                <figcaption class="address-text text-center">{{lang.address2}}</figcaption>
            </div>
        {% endif %}
        {% endfor %}
        
        <div class="col-lg-2 col-md-2  col-sm-2 col-xs-2">
            <img src="img/girlRight.png" class="img-responsive img-girl" style="margin-left: 5vw;">
        </div>
        <a href="#page-top"><div class="arrow inside up"></div></a>
    </div>
</section>
