<section id="contact" class="bg-dark footer">
    <div class="row contact-container div-relative">
        {% for lang in site.langs %}
        {% if lang.lang == page.lang %}
            <div class="img-build left">
                <img src="img/bel.png" class="img-responsive">
                <figcaption class="address-text text-center">{{lang.address1}}</figcaption>
            </div>
            <div class="img-build right">
                <img src="img/inno.png" class="img-responsive">
                <figcaption class="address-text text-center">{{lang.address2}}</figcaption>
            </div>
        {% endif %}
        {% endfor %}
        
        <img src="img/girlLeft.png" class="img-responsive img-girl left">
        <img src="img/girlRight.png" class="img-responsive img-girl right">
        <a href="#page-top"><div class="arrow inside up"></div></a>
    </div>
</section>
