<section id="contact" class="bg-dark footer">
    <div class="row contact-container div-relative">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <img src="img/girlLeft.png" class="img-responsive img-girl">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <img src="img/bel.png" class="img-responsive">
            <figcaption>Kemerovo, Sibirskaya street, bld. 4, appt. 2</figcaption>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <img src="img/inno.png" class="img-responsive">
            <figcaption>Krasnodar, Bershanskoy street, bld. 402, appt. 33</figcaption>
        </div>
        <div class="col-lg-3 col-md-3  col-sm-3 col-xs-3">
            <img src="img/girlRight.png" class="img-responsive img-girl" style="margin-left: 12vw;">
        </div>
        <a class="page-scroll" href="#page-top"><div class="arrow inside up"></div></a>
    </div>
</section>
