<section id="games" class="bg-dark">
    <div class="game-div">
        <a href='https://play.google.com/store/apps/details?id=com.swagmasha.genres&hl=en&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
            <img class="img-responsive inner-google-badge" alt='Get it on Google Play' src='img/google-play-badge.png'/>
        </a>
        <img src="img/game1.jpg" class="img-responsive"/>
        <a href='https://play.google.com/store/apps/details?id=com.swagmasha.genres&hl=en&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
            <img class="img-responsive inner-apple-badge" alt='Get it on App Store' src='img/App_Store_Badge.svg'/>
        </a>
    </div>
    <br>
    <div class="game-div">
        <a href='https://play.google.com/store/apps/details?id=com.swagmasha.genres&hl=en&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
            <img class="img-responsive inner-google-badge" alt='Get it on Google Play' src='img/google-play-badge.png'/>
        </a>
        <img src="img/game2.jpg" class="img-responsive"/>
        <a href='https://play.google.com/store/apps/details?id=com.swagmasha.genres&hl=en&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
            <img class="img-responsive inner-apple-badge" alt='Get it on App Store' src='img/App_Store_Badge.svg'/>
        </a>
    </div>
</section>
