<section id="jobs" class="bg-dark">
    <div class="container">
        {% for lang in site.langs %}
        {% if lang.lang == page.lang %} 
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="h2">{{lang.job1_head}}</h2>
                    <p class="text-faded">{{lang.job1_body}}</p>
                </div>
            </div>
            <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="h2">{{lang.job2_head}}</h2>
                        <p class="text-faded">{{lang.job2_body}}</p>
                    </div>
                </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a class="hv-button" href="https://hh.ru/" target="_blank">{{lang.job_button}}</a>
                </div>
            </div>
        {% endif %}
        {% endfor %}
    </div>
</section>
