<section id="jobs" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="h2">Middle java developer</h2>
                <p class="text-faded">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="h2">Senior C# developer</h2>
                    <p class="text-faded">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                            incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a class="hv-button" href="#vacancies" target="_blank" rel="nofollow noopener">Look vacancies</a>
            </div>
        </div>
    </div>
</section>
