<section class="bg-dark">
        <div id="news" class="row div-relative">
            <img src="img/news.jpg" class="img-responsive img-fill" style="opacity: 0.2;"/>
            <p class="text-center news-text">
                {% for lang in site.langs %}
                {% if lang.lang == page.lang %}
                    {{ lang.news_text}}
                {% endif %}
                {% endfor %}
            </p>
            <a href="https://www.youtube.com/" target="_blank"><div class="arrow inside"></div></a>
        </div>
</section>